#!/usr/bin/env bash

use nix

. ~/.bash/def.shlib

export DIRENV_RESET_DEF=$(cat <<EOF
    $(get-reset-def -a hello)
EOF
)

export TEZOS_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
PATH_add "$TEZOS_DIR"
PATH_add "$TEZOS_DIR/.aliases"
# For Alcotest logs
export ALCOTEST_VERBOSE=true


export DIRENV_SET_DEF=$(cat <<'EOF'
    alias hello='echo goodbyte world!'
EOF
)

# if DIRENV_SET_DEF has exported vars (eg whose values should automatically change when other var values change)
eval "${DIRENV_SET_DEF}"



##################### Adapted from https://gitlab.com/tezos/tezos/-/merge_requests/2506 #####
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/src/lib_sapling"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/ocaml-bls12-381/src"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/benchmark-utils"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/numerics/lib"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/ocaml-lmdb/src"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/ocaml-uecc/src"

export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/src/lib_sapling"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/ocaml-bls12-381/src"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/benchmark-utils"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/numerics/lib"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/ocaml-lmdb/src"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/ocaml-uecc/src"
#########################################################
