#!/usr/bin/env bash

use nix

. ~/.bash/def.shlib

export DIRENV_RESET_DEF=$(cat <<EOF
    $(get-reset-def -a watchexec)
    $(get-reset-def -a cdp)
    $(get-reset-def -a cdu)
    $(get-reset-def -a turn_off_warnings)
    $(get-reset-def -a runtest)
    $(get-reset-def -a test_globals)
    $(get-reset-def -a dbw)
    
    $(get-reset-def -f create_mockup)

    $(get-reset-def -a destroy_mockup)
    $(get-reset-def -a mockup_client)
    $(get-reset-def -a client)
    $(get-reset-def -a w)
    $(get-reset-def -a tezt)
EOF
)

export TEZOS_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
PATH_add "$TEZOS_DIR"
PATH_add "$TEZOS_DIR/.aliases"
# For Alcotest logs
export ALCOTEST_VERBOSE=true


export DIRENV_SET_DEF=$(cat <<'EOF'
    alias watchexec="watchexec --shell='bash --login -O expand_aliases'"
    alias cdp='cd $TEZOS_DIR/src/proto_alpha/lib_protocol'
    alias cdt='cd $TEZOS_DIR'
    alias cdu='cd $TEZOS_DIR/src/proto_alpha/lib_protocol/test/unit'
    alias turn_off_warnings='export OCAMLPARAM="_,w=-27-26-32-33-20-21"'
    alias runtest='dune build --terminal-persistence=clear-on-rebuild  @runtest_proto_alpha --watch'
    alias test_globals='(cdu && dune build @runtest --force ) && dune exec ./src/proto_alpha/lib_protocol/test/main.exe -- test "global table of constants" -c && tezt global_constant'
    alias dbw='dune build --terminal-persistence=clear-on-rebuild --watch'

    create_mockup () {
	if [[ ! -d /tmp/mockup ]]; then
		tezos-client \
		  --protocol ProtoALphaALphaALphaALphaALphaALphaALphaALphaDdp3zK \
		  --base-dir /tmp/mockup \
		  --mode mockup \
		  create mockup
	fi
    } 

    alias destroy_mockup='rm -rf /tmp/mockup'

    alias mockup_client='create_mockup && tezos-client --mode mockup --base-dir /tmp/mockup'

    alias client='mockup_client'

    alias w='watchexec -c -e ml,mli -w src'

    alias tezt='dune exec tezt/tests/main.exe --'
EOF
)

# if DIRENV_SET_DEF has exported vars (eg whose values should automatically change when other var values change)
eval "${DIRENV_SET_DEF}"



##################### Adapted from https://gitlab.com/tezos/tezos/-/merge_requests/2506 #####
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/src/lib_sapling"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/ocaml-bls12-381/src"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/benchmark-utils"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/numerics/lib"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/ocaml-lmdb/src"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/ocaml-uecc/src"

export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/src/lib_sapling"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/ocaml-bls12-381/src"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/benchmark-utils"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/numerics/lib"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/ocaml-lmdb/src"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/ocaml-uecc/src"
#########################################################
