#!/bin/bash

# Load OCaml environment
eval $(opam env)

# Put Tezos on path.
export TEZOS_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
export PATH="$PATH:$TEZOS_DIR:"


##################### Adapted from https://gitlab.com/tezos/tezos/-/merge_requests/2506 #####
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/src/lib_sapling"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/ocaml-bls12-381/src"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/benchmark-utils"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/numerics/lib"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/ocaml-lmdb/src"
export CAML_LD_LIBRARY_PATH="$CAML_LD_LIBRARY_PATH:$(pwd)/_build/default/vendors/ocaml-uecc/src"

export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/src/lib_sapling"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/ocaml-bls12-381/src"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/benchmark-utils"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/numerics/lib"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/ocaml-lmdb/src"
export OCAMLTOP_INCLUDE_PATH="$OCAMLTOP_INCLUDE_PATH:$(pwd)/_build/default/vendors/ocaml-uecc/src"


#########################################################
